$all-events-section-width: 60%;
$selected-events-section-width: 40%;

$btn-bg-select: #4caf50;
$btn-bg-remove: #ef5350;
$btn-bg-inactive: #949494;
$divider-color: #c576f6;

$card-bg-info: #01579b;
$card-bg-success: #1b5e20;
$card-bg-failure: #c62828;
