.event-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 5px 20px 5px;
}

.text {
  font-size: 24px;
  font-weight: bold;
}

.search-container {
  display: flex;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 210px;
  height: 20px;
}

.cross {
  position: absolute;
  right: 5px;
  opacity: 0.6;
}

.icon {
  opacity: 0.6;
  height: 20px;
  width: 20px;
  padding-right: 3px;
}

.text-area {
  border: none;
}

.text-area:focus {
  outline: none;
}
