@import "../../../../assets/sassStyles/variables";

.not-found {
  margin: 50px 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  border: 1px solid;
}

.info-theme {
  background-color: $card-bg-info;
}

.error-theme {
  background-color: $card-bg-failure;
}

.info-card {
  max-width: 100%;
  height: auto;
  margin: 5px;
  border: 1px solid black;
  border-radius: 4px;
  gap: 10px;
}
